
<h1>Cursos#new</h1>

<%= form_for @curso do |f| %>
	<%= f.label :Código %>
	<%= f.text_field :codigo %>
</br>
	<%= f.label :Nombre %>
	<%= f.text_field :nombre %>
</br>
	<%= f.label :Creditos %>
	<%= f.select :creditos, [['2',1],['3',2],['4',3]] %>
<br>
	<%= f.submit %>
<% end %>


</br>

<h1> All Descriptions </h1>
<br>

<% @cursos.each do |x| %>
	<div class="white">
		<%= x.creditos %>
	</div>
<% end %>
